.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 130vh;
    background-color: white;

    .app-wrapper {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 70%;
        min-height: 50%;
        border: 5px solid black;
        border-radius: 8px;

        span {
            display: block;
            position: relative;
            margin-top: 20px;
            font-weight: 900;
            font-size: 1.5em;
            padding: 2rem;
            cursor: pointer;
        }

        span::before, span::after {
            content: 'Good';
            position: absolute;
            top: 0;
            color: rgb(6, 203, 6);
            
        }

        span::after {
            content: 'Bad';
            color: rgb(255, 47, 0);
            display: var(--showPseudoClassTextBad);
        }

        span::before {
            display: var(--showPseudoClassTextGood);
            background-color: white;
            z-index: 5;
        }

    }

    h1 {
        text-transform: uppercase;
        margin-bottom: 2rem;
    }



    
}

.gray {
    color: rgb(182, 182, 182);
}

.green {
    color: green;
}

.red {
    color: rgb(211, 0, 0);
}

.active {
    visibility: visible;
}

.inactive {
    display: none;
}
