.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    max-width: 70vh;
    min-height: 40%;
    max-height: 70vh;

    form {
        display: flex;
        flex-direction: column;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    input {
        margin-top: 2rem;
        padding:.5rem;
    }

    label {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
    }

}

.active{
    display: flex;
}

.inactive {
    display: none;
}